.all, .bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.root {
  background-color: #ffffff !important;
}
.nav {
  border-bottom: 1PX solid #F0F0F0;
  :global {
    .am-icon {
      color: #555555;
    }
    .am-navbar-title {
      font-size: 16px;
      color: #333333;
    }
    .am-navbar-right {
      span {
        padding: 12px;
        margin-right: -12px;
        font-size: 15px;
        color: #FF4F00;
      }
    }
  }
}
.all {
  flex-grow: 1;
  height: 0;
  overflow: auto;
}

.bar {
  flex-direction: row;
  line-height: 50px;
  border-top: 1PX solid #e0dfe3;
  > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background: #ff4f00 ;
    color: #fff;
    font-size: 15px;
  }
}

.title {
  padding: 10px 20px 5px;
  font-size: 15px;
  color: #333333;
}

.items {
  // width: calc(~"100% - 50px");
  padding: 0 20px;
  margin: 0 auto 10px;
  >div {
    float: left;
    width: 72px;
    margin: 5px 14px 5px 0;
    height: 27px;
    text-align: center;
    border: 1PX solid #c8c7cc;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    overflow: scroll;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
  >div::-webkit-scrollbar{
    display: none;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .action {
    border: 1PX solid #ff7214;
    color: #ff7214;
 
  }
}
