.RestPositionWrap {
  margin-top: 10px;
  background-color: #fff;
  .noTitle {
    margin-top: 0px;
  }
  .title {
    padding: 30px 20px 0px;
    color: #4a4a4a;
    font-size: 15px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    span {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #333333;
      // font-weight: 600;
    }
  }
  .titleImg {
    width: 17px;
    height: 20px;
    margin-right: 5px;
  }
  .listItem {
    border-bottom: 1px solid #f0f0f0;
  }
  .noBottom:after {
    height: 1px;
  }
  .JobList {
    padding: 0 20px;
  }
}

