:global {
  //Modal 圆角统一改为2px
  .am-modal-transparent .am-modal-content {
    border-radius: 2px;
  }
}
.PositionDetailWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
 
  .guidance {
    background-color: #fff;
    padding: 30px 0;
    .finishApp {
      width: 300px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #ffb3a6;
      border-radius: 2px;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #ff5338;
      letter-spacing: 0.6px;
      margin: 0 auto;
    }
  }
}
.rest {
  margin-top: 10px;
}
.share {
  width: 23px;
  img {
    width: 23px;
  }
}
.connent {
  flex: 1;
  height: 0;
  overflow-y: scroll;
  margin-top: 110px;
  .workplace {
    width: 100%;
    padding: 25px 0 20px 0;
    h4 {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #333333;
    }
    .site {
      display: flex;
      margin-top: 10px;
      img {
        height: 16px;
        margin-top: 3px;
      }
      div {
        margin-left: 10px;
        line-height: 22px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #4a4a4a;
      }
    }
  }
  .analyzer {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 20px 25px;
    box-sizing: border-box;
    .tradeName {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #333333;
      font-weight: 600;
    }
    .tradeDes {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #000000;
      line-height: 26px;
      margin-top: 10px;
      img {
        width: 20px;
        vertical-align: sub;
      }
    }
    .openApp {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #ff5338;
      letter-spacing: 0.6px;
      line-height: 21px;
      border: 1px solid #ffb3a6;
      border-radius: 2px;
      width: 300px;
      height: 40px;
      margin: 15px auto 0;
      text-align: center;
      line-height: 40px;
    }
  }
}
.jobCard {
  min-height: auto;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden;
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 18px 0;
    position: relative;
    .name {
      font-family: PingFangSC-Medium;
      font-size: 22px;
      color: #333333;
      width: 76%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .salary {
      color: #ff4f00;
      font-size: 14x;
      font-weight: 600;
      text-align: right;
    }
    .finish {
      width: 60px;
      height: 60px;
      position: absolute;
      right: 0;
      top: -10px;
    }
  }
  .inner {
    margin-bottom: 20px;
    .mustBeCon {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #4a4a4a;
      display: flex;
      align-items: center;
      li {
        margin-right: 14px;
        height: 20px;
        line-height: 20px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #4a4a4a;
        padding-left: 15px;
      }
    }
    .right {
      flex: 1;
      text-align: right;
      height: 100%;
      font-size: 10px;
      color: #aaaaaa;
      line-height: 15px;
    }
  }
  .welfare {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    padding-bottom: 25px;
    border-bottom: 1px solid #f0f0f0;
    li {
      height: 24px;
      padding: 0 10px;
      box-sizing: border-box;
      border: 1px solid #e7e7e7;
      border-radius: 2px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #4a4a4a;
      text-align: center;
      line-height: 24px;
      border-radius: 2px;
      margin: 8px 10px 0 0;
      overflow: hidden;
    }
  }
}
.hotelEntry {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 25px;
  display: flex;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .left {
    width: 50px;
    height: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
  }
  .center {
    width: calc(~'100% - 100px');
    margin-left: 20px;
    float: left;
    .hotelName {
      width: 100%;
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #333333;
      line-height: 26px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .hotelSize {
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #777777;
      white-space: nowrap;
      margin-top: 4px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    img {
      width: 14px;
    }
  }
}
.articleWrap {
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
  .title {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .backArticle {
    font-size: 14px !important;
  }
  .moreArticle {
    max-height: none;
    height: auto;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #4a4a4a;
    letter-spacing: 0.6px;
    line-height: 24px;
  }
  .report {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #aaaaaa;
    letter-spacing: 0;
    text-align: right;
    margin-top: 20px;
  }
  .otherRequire {
    margin-top: 15px;
    h4 {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #555555;
      font-weight: 200;
    }
    .priority {
      margin-top: 10px;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      background: rgba(240, 240, 240, 0.8);
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      li {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #777777;
        height: 26px;
        line-height: 26px;
        padding-left: 30px;
        background: url(../../static/select.png) left 4px no-repeat;
        background-size: 18px 18px;
      }
    }
  }
}
.HotTopic {
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  .hotJobs,
  .hotCompanyu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 15px;
    li {
      list-style: none;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #4a4a4a;
      width: 100px;
      line-height: 26px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 15px;
    }
    li:nth-child(3n) {
      margin-right: 0;
    }
  }
  :global {
    .am-tabs-default-bar-underline {
      width: 40px !important;
      margin-left: 62px;
    }
    .am-tabs-default-bar-tab {
      font-family: PingFangSC-Medium;
      font-size: 16px;
    }
    // .am-tabs-default-bar-content {
    //   display: flex;
    //   justify-content: space-between;
    // }
    // .am-tabs-default-bar-tab:nth-child(2) {
    //   margin-left: 50px;
    // }
    .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
      display: none !important;
    }
    .am-tabs-default-bar-top .am-tabs-default-bar-tab {
      border-bottom: none;
    }
  }
}
.deliverSuccess {
  height: 160px;
  .deliver {
    display: block;
    width: 36px;
    height: 36px;
    margin: 15px auto 10px;
  }
  span {
    display: block;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #333333;
  }
  p {
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 8px;
  }
  div {
    margin: 20px auto 0;
    background: #ff4f00;
    border: 1px solid #ff4f00;
    border-radius: 2px;
    width: 120px;
    line-height: 34px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #ffffff;
  }
}
.deliveryFailure {
  height: 120px;
  span {
    display: block;
    margin: 15px auto 10px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #333333;
  }
  p {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #9b9b9b;
  }
  div {
    width: 120px;
    line-height: 34px;
    text-align: center;
    background: #ff4f00;
    border: 1px solid #ff4f00;
    border-radius: 2px;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #ffffff;
    margin: 20px auto 0;
  }
}
