.PositionBarWrap {
  background-color: #fcfcfc;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-top: 1px solid #f0f0f0;
  .leftBtns {
    color: #777777;
    font-size: 12px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > div {
      height: 100%;
      line-height: 50px;
      display: flex;
      align-items: center;
    }
  }
  .validLeftBtns {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #9b9b9b;
  }
  .right {
    width: 270px;
    height: 100%;
    display: flex;
    align-items: center;
    .rightBtn,
    .validRightBtn {
      width: 270px;
      line-height: 40px;
      background: #ff4f00;
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      margin-right: 6px;
    }
    .validRightBtn {
      background: #f0f0f0;
    }
  }
}
.has {
  color: #ffa076 !important;
}
.img1 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.img2 {
  width: 15px;
  height: 17px;
  margin-right: 5px;
}
