.wraper {
  height: 100%;
  position: relative;
  .header {
    height: 149px;
    background: linear-gradient(to right, #FF7214 , #FF4F00);
    position: relative;
    .nav {
      height: 22px;
      width: 22px;
      position: absolute;
      left: 4px;
      top: 10px;
      color: #ffffff;
      font-size: 16px;
      padding: 10px;
    }
  }
  .content {
    position: absolute;
    top: 58px;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: 0 !important;
    padding: 38px 10px 20px 10px;
    .firstcard {
      height: 170px;
      background-color: #ffffff;
      position: relative;
      text-align: center;
      border-radius: 4px;
      margin-bottom: 15px;
      .photo {
        height: 71px;
        width: 71px;
        border-radius: 50%;
        background-color: #ffffff;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        vertical-align:middle;
        border: 2Px solid #ffffff;
        overflow: hidden;
        img {
          height: 71px;
          width: 71px;
          vertical-align: middle;
        }
      }
      .title {
        padding-top: 44px;
        font-size: 16px;
        color: #4A4A4A;
        letter-spacing: 0.2px;
      }
      .subTitle {
        opacity: 0.8;
        font-size: 12px;
        color: #777777;
        padding-bottom: 12px;
      }
      :global(.am-flexbox-item) {
        text-align: center;
        font-size: 12px;
        color: #6C6C6C;
        img {
          width: 40px;
          height: 40px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.card {
  margin-bottom: 10px;
  border-radius: 1PX;
  //am-card-header-content
  :global {
    .am-card-header-content {
      > span {
        font-size: 16px;
        color: #222222;
        > span {
          font-size: 12px;
          color: #FF4F00;
          display: inline-block;
          width: 48px;
          text-align: center;
        }
      }
    }
    .am-card-header-extra img {
      width: 15px;
      height: 15px;
    }
    .src-containers-Resume-style__item {
      font-size: 14px;
      color: #4A4A4A;
    }
  }
  &-body {
    font-size: 14px;
    color: #777777;
    > div {
      padding-bottom: 10px;
      > span {
        color: #4A4A4A;
        padding-right: 10px;
      }
    }
    > div:last-child {
      padding: 0;
    }
    &-describe {
      font-size: 14px;
      color: #4A4A4A;
      letter-spacing: 0;
      line-height: 19px;
    }
  }
  &-job {
    &-wraper {
      padding: 0 15px 0 23px;
      position: relative;
      font-size: 13px;
      color: #9B9B9B;
      letter-spacing: 0;
      margin-bottom: 25px;
      span {
        font-size: 14px;
        color: #4A4A4A;
      }
      &-circle {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 1px;
      }
      &-editor {
        width: 15px;
        height: 15px;
        position: absolute;
        top: -8px;
        right: -10px;
        padding: 10px;
      }
      p {
        line-height: 18px;
      }
      p:last-child {
        margin-top: 10px;
      }
    }
    &-footer {
      text-align: center;
      margin-bottom: 8px;
      font-size: 14px;
      color: #4A4A4A;
      img {
        width: 16px;
        height: 16px;
        padding-right: 5px;
      }
    }
  }
  &-education {
    &-wraper {
      padding: 0 15px 0 23px;
      position: relative;
      letter-spacing: 0;
      font-size: 14px;
      color: #4A4A4A;
      margin-bottom: 25px;
      &-circle {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: 1px;
      }
      &-editor {
        width: 15px;
        height: 15px;
        position: absolute;
        top: -8px;
        right: -10px;
        padding: 10px;
      }
      &-line {
        width: 0;
        height: 76px;
        border: none;
        border-left: 0.5Px solid #C8C7CC;
        opacity: 0.5;
        position: absolute;
        top: 16px;
        left: 6px;
      }
      p {
        line-height: 18px;
      }
      p:first-of-type {
        line-height: 20px;
        margin-bottom: 5px;
      }
      p:last-child {
        font-size: 13px;
        color: #777777;
      }
    }
    &-footer {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 8px;
      font-size: 14px;
      color: #4A4A4A;
      img {
        width: 16px;
        height: 16px;
        padding-right: 5px;
      }
    }
  }
  &-language {
    padding-top: 0;
    :global {
      .am-progress-bar {
        height: 8px;
        border-radius: 4px;
        border: 4px solid #FF4F00;
      }
    }
    &-content {
      margin: 30px 0;
      &-header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
        span:first-child {
          color: #333333;
        }
        span:last-child {
          color: #777777;
        }
      }
    }

  }
}
.toogle {
  height: 65px;
  background: url("../../static/gradual.png") 100% 100%;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }
  > div {
    height: 22px;
    line-height: 22px;
    padding: 10px 0 4px 0;
  }
  p {
    font-size: 13px;
    color: rgba(255,255,255,0.7);
  }
}

