.ListItemWrap{
  width: 315px;
  height: 78px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4A4A4A;
  border-bottom: 0.5Px solid rgba(200, 199, 204, 0.5);
  margin: 0 auto;
}

.titleImg{
  margin-right: 13px;
  width: 24px;
  height: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-width: 24px;
    max-height: 24px;
  }
  
}

.itemContant{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  .rightIcon {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    left: 66px;
    top: 26px;
    background-color: #FF3B30;
    border-radius: 50%;
    font-size: 12px;
    color: #Fff;
    font-family: PingFangSC-Regular;
  }
  .leftBox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
  }
  .rightBox{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #777777;
    height: 100%;
    .rightTitle{
      flex: 1;
      text-align: right;
      span{
        color: #ff7417;
       
      }
    }
  }
}

.RightAngle{
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;
  img{
    width: 12px;
    height: 12px;
  }
}