.SearchEndBarWrap{
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px 0 10px;
}
.left{
  width: 24px;
  margin-right: 5px;
  img{
    width: 24px;
    height: 24px;
  }
}
.right{
  flex: 1;
  height: 30px;
  background-color: #fff;
}
.leftConnent{
  font-size: 14px;
  color: #4A4A4A;
  background-color: #F0F0F0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conleft{
  padding-left: 15px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img{
    width: 14px;
    height: 16px;
    margin-right: 6px;
    margin-bottom: 1px;
  }
  .keyWord{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.conright{
  font-size: 12px;
  padding-right: 10px;
}
.personal {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 50%;
}