.root {
  height: 100%;
  font-size: 14px;
  color: #4A4A4A;
  :global {
    .am-input-control>input {
      text-align: right;
    }
    .am-list-item {
      padding: 0 20px;
    }
    .am-list-item.am-input-item {
      padding: 0 20px;
      height: 50px;
    }
    .am-list-line {
      padding-right: 0;
    }
    .am-list-item .am-list-line .am-list-content, .am-input-label {
      font-size: 14px;
      color: #4A4A4A;
    }

  }
}

.nav {
  margin-bottom: 10px;
  :global {
    .am-icon {
      color: #555555;
    }
    .am-navbar-title {
      font-size: 16px;
      color: #333333;
    }
    .am-navbar-right {
      span {
        padding: 12px;
        margin-right: -12px;
        font-size: 15px;
        color: #9B9B9B;
      }
    }
  }
}

.footer {
  margin-top: 10px;
  font-size: 11px;
  color: #777777;
  padding-left: 20px;
  i {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #FF4F00;
    padding-right: 5px;
  }
}
//.wrap {
//  height: 0;
//  overflow: auto;
//  -webkit-overflow-scrolling: touch;
//  margin-left: 0 !important;
//  > div {
//    // margin: 40px 20px;
//  }
//  :global{
//    .am-input-label-5{
//      width: 85px !important;
//    }
//    .am-list-item .am-list-line .am-list-extra {
//      flex-basis: 60%;
//    }
//  }
//}
//
//.workDateCheckbox {
//  position: relative;
//  top: -1.5px;
//  left: -5px;
//}
//
//.workDateYjs {
//  position: relative;
//  right: 26px;
//}
//
//.workDateCheckboxYjs {
//  position: relative;
//  top: -1.5px;
//  left: -5px;
//}
//
//.workDate {
//  :global {
//    .am-list-item {
//      overflow: visible;
//    }
//    .am-list-item .am-list-line {
//      overflow: visible;
//    }
//    .am-list-item .am-list-line .am-list-content {
//      position: relative;
//      top: 20px;
//      overflow: visible;
//      z-index: 99;
//    }
//    .am-list-body .am-list-item:last-child {
//      border-bottom: 1px !important;
//    }
//    .am-list-line:after {
//      border-bottom: 0 !important
//    }
//  }
//}
//
//
//.checkbox {
//  margin-top: -1PX;
//  :global {
//    .am-list-content {
//      display: flex;
//      flex-direction: row-reverse;
//      > label {
//        display: flex;
//        align-items: center;
//        > span {
//          margin-right: 8px;
//        }
//      }
//    }
//  }
//}


