.root {
  height: 100%;
  font-size: 14px;
  color: #4A4A4A;
  :global {
    .am-list-item .am-input-clear {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
    }
    .am-list-item .am-input-control input::-webkit-input-placeholder {
      font-size: 15px !important;
      color: #9B9B9B !important;
    }
    .am-list-item .am-input-control input::-moz-placeholder {
      font-size: 15px !important;
      color: #9B9B9B !important;
    }
    .am-list-item .am-input-control input {
      font-size: 15px;
      color: #4A4A4A;
    }
    .am-list-item .am-list-line .am-list-arrow {
      background-image: url('../../static/right2@3x.png');
    }
    .am-list-item .am-list-line .am-list-extra {
      font-size: 15px !important;
      color: #9B9B9B;
    }
    .am-input-control>input {
      text-align: right;
    }
    .am-list-item {
      padding: 0 20px;
    }
    .am-list-item.am-input-item {
      padding: 0 20px;
      height: 50px;
    }
    .am-list-line {
      height: 50px;
      padding-right: 0;
    }
    .am-list-item .am-list-line .am-list-content, .am-input-label {
      font-size: 14px;
      color: #4A4A4A;
    }
    .am-list-item .am-list-line .am-list-extra {
      flex-basis: 45%;
    }
    .am-list-line::after {
      opacity: 0;
    }
    .am-list-body::before, .am-list-body::after{
      display: none;
      opacity: 0;
    }
  }
  .bind {
    width: 40px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
    border: 1px solid #FF4F00;
    font-size: 10px;
    margin-right: 5px;
  }
  .email {
    height: 60px;
  }
}

.nav {
  margin-bottom: 10px;
  :global {
    .am-icon {
      color: #555555;
    }
    .am-navbar-title {
      font-size: 16px;
      color: #333333;
    }
    .am-navbar-right {
      span {
        padding: 12px;
        margin-right: -12px;
        font-size: 15px;
        //color: #9B9B9B;
        color: #FF4F00;
      }
    }
  }
}

.footer {
  margin-top: 10px;
  font-size: 11px;
  color: #777777;
  padding-left: 20px;
  i {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #FF4F00;
    margin-right: 5px;
  }
}

.checkbox {
  //text-align: right;
  //height: 27px;
  min-height: 22px;
  :global {
    .am-list-item.am-input-item {
      height: 28px;
    }
    .am-list-line {
      height: 29px;
    }
    .am-list-content {
      text-align: right!important;
      padding-top: 0!important;
      padding-bottom: 14px!important;
      span {
        padding-left: 5px;
        padding-bottom: 2px;
        padding-top: 3px;
        font-size: 12px;
        color: #9B9B9B;
      }
    }
    .am-checkbox {
      .am-checkbox-inner {
        border: none;
        background: url(../../static/square.png) center no-repeat;
        background-size: 90%;
      }
      &.am-checkbox-checked {
        .am-checkbox-inner {
          background: url(../../static/learnCheck.png) center no-repeat;
          background-size: 90%;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}

.noboderline {
  :global {
    .am-list-line::after {
      height: 0 !important;
    }
  }
}
// todo 这边的boder 为什么会消失，这个颜色还有些出入
.boder-bottom-1px {
  :global {
    .am-list-line {
      border-bottom: 1PX solid #F0F0F0!important;
    }
  }


}
.bottom {
  height: 40px;
  line-height: 40px;
  color: #FF4F00;
  text-align: center;
  border: 1px solid #FF4F00;
  border-radius: 2px;
  margin: 30px 20px 0 20px;
}
.selectcolor {
  :global {
    .am-list-extra {
      color: #4A4A4A !important;
    }
  }
}