.root {
  height: 100%;
}

.wrap {
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  margin-left: 0 !important;
  > div {
    margin: 20px 10px;
  }
}

.list {
  margin-top: 24px;
  .authCode {
    width: 60%;
  }
  :global{
    .am-list-item .am-list-line .am-list-extra {
      text-align: left;
      flex-basis: 100%;
    }
    .am-input-item > .am-input-control > input {
      text-align: left;
    }
  }
}
.mobieCode {
  position: absolute;
  right: 0;
  bottom: 67px;
}

.nav {
  :global {
    .am-navbar-right {
      span {
        padding: 12px;
        margin-right: -12px;
      }
    }
    
  }
}
