.root {
  height: 100%;
  :global {
    .am-list-line::after {
      opacity: 0;
      display: none;
    }
    .am-list-item .am-input-control input::-webkit-input-placeholder {
      font-size: 15px;
      color: #9B9B9B;
    }
    .am-list-item .am-input-control input {
      font-size: 15px;
      color: #4A4A4A;
    }
    .am-list-line {
      height: 60px;
      .am-input-control  {
        margin-top: 14px;
      }
      .am-input-clear{
        width: 16px;
        height: 16px;
        margin-top: 14px;
        background-position: inherit !important;
      }
    }
    .am-list-item.am-input-item {
      height: 60px;
      border-bottom: 0.5Px solid rgba(200,199,204,0.50);
    }
    
  }
}

.wrap {
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  margin-left: 0 !important;
  > div {
    margin: 40px 40px;
  }
}

.list {
  margin-top: 24px;
  > div {
    position: relative;
  }
  .authCode {
    //width: 60%;
  }
  :global{
    .am-list-item .am-list-line .am-list-extra {
      text-align: left;
      flex-basis: 100%;
    }
    .am-input-item > .am-input-control > input {
      text-align: left;
    }
    // .am-list-line {
    //   height: 60px;
    //   line-height: 60px;
    // }
    .am-list-item.am-input-item {
      padding-left: 0 !important;
    }
  }
}
.mobieCode {
  position: absolute!important;
  right: 0;
  bottom: 7px;
}

.nav {
  border-bottom: 0.5px solid #F0F0F0;
  :global {
    .am-icon {
      color: #555555;
    }
    .am-navbar-title {
      font-size: 16px;
      color: #333333;
    }
    .am-navbar-right {
      span {
        padding: 12px;
        margin-right: -12px;
        font-size: 15px;
        //color: #9B9B9B;
        color: #FF4F00;
      }
    }
  }
}
.btn {
  height: 40px;
  margin-top: 40px;
  a{
    display: block;
    height: 100%;
    line-height: 40px;
    background: #FF4F00;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
  }
  .disabled{
    color: rgba(255,255,255,0.5) !important;
  }
}
.tip {
  padding-right: 75px;
}

.massage{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #4A4A4A;
  position: absolute;
  bottom: 15px;
  right: 0;
}
.disabled{
  color: rgba(255, 255, 255, 0.5) !important;
}
.disabledCode{
  color: rgba(164,164,164,0.50) !important;
}
.paddingtop10 {
  padding-top: 16px;
}