// .line {
//   height: 1Px;
//   // background-color: #dddddd;
//   // opacity: 0.5;
//   background-color: rgba(200, 199, 204, 0.5);
//   // background-color: rgba(200,199,204, 1);
// }
// .line2 {
//   margin: 0 20px;
//   height: 1Px;
//   // background-color: #dddddd;
//   // opacity: 0.5;
//   background-color: rgba(200, 199, 204, 0.5);
//   // background-color:rgba(200,199,204, 1);
// }

.line {
  border: 1px solid rgba(200, 199, 204, 0.5);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .line {
    border: 0.5px solid rgba(200, 199, 204, 0.5);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .line {
    border: 0.333333px solid rgba(200, 199, 204, 0.5);
  }
}

.line2 {
  border: 1px solid rgba(200, 199, 204, 0.5);
  margin: 0 20px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .line2 {
    border: 0.5px solid rgba(200, 199, 204, 0.5);
    margin: 0 20px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .line2 {
    border: 0.333333px solid rgba(200, 199, 204, 0.5);
    margin: 0 20px;
  }
}