.SearchBarWrap {
  background: -webkit-linear-gradient(left, #FF7214 , #FF4F00); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #FF7214 , #FF4F00); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #FF7214 , #FF4F00); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #FF7214 , #FF4F00);
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  .bac {
    background-color: inherit;
    > div:last-child {
      color: #fff;
    }
    :global {
      .am-search-input {
        flex: 0.98;
        border-radius: 14px;
      }
      .am-search-input .am-search-synthetic-ph-placeholder {
        font-size: 14px;
      }
      .am-search-input input[type='search'] {
        font-size: 14px;
      }
      .am-search-input .am-search-synthetic-ph-icon {
        vertical-align: -1.5px;
      }
    }
    i {
      width: 14px;
      height: 14px;
    }
  }
  
}
.paddingAdd {
  padding: 0 15px;
}
.leftContant {
  width: 46px;
  color: #fff;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 15px;
  > div {
    > div {
      width: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  img {
    width: 14px;
    height: 14px;
  }
}
.search {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 255px;
    height: 30px;
    margin-left: 14px;
    padding: 0;
  }
  .searchCarousel {
    width: 120px;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .searchItem {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #9B9B9B;
      img {
        width: 14px;
        margin-right: 6px;
      }
    }
  }
}
.personal {
  width: 24px;
  height: 24px;
  margin-left: 6px;
  border-radius: 50%;
}
.positionHead,
.headScoll {
  width: 100%;
  z-index: 10;

  .searchbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    padding: 0 15px 0 10px;
    box-sizing: border-box;
    position: relative;
    .goBack {
      height: 24px;
      width: 24px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    :global {
      .am-search {
        width: 240px;
        background: none;
        padding: 0;
        margin: 0 4px 0 8px;
        box-sizing: border-box;
      }

      .am-search-input .am-search-synthetic-ph-placeholder {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #9b9b9b;
      }
      .am-search-input {
        flex: 1;
        border-radius: 14px;
        background-color: #f0f0f0;
      }
      .am-search-input input[type='search'] {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #4a4a4a;
      }
    }
    .companyTitle {
      width: 240px;
      text-align: center;
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-size: 0.18rem;
      color: #333333;
      margin: 0 4px 0 8px;
    }
    .navLink {
      right: 14px;
      .searcHome {
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }
      .personal {
        width: 24px;
        height: 24px;
        margin-left: 18px;
      }
    }
  }
}

.headScoll {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}
