.wraper{
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  .back{
    padding: 10px 20px;
    img{
      width: 22px;
    }
  }
  .title {
    font-size: 0.2rem;
    font-family: PingFangSC-Regular;
    font-size: 0.2rem;
    color: #333333;
    line-height: 48px;
    margin-top: 40px;
    padding:  0 40px;
    box-sizing: border-box;
  }
  .content {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    padding: 0 40px;
    box-sizing: border-box;
    span {
      color: #ff4f00;
    }
  }
  .name {
    border-bottom: 1Px solid rgba(200,199,204,0.50);
    height: 60px;
    line-height: 78px;
  }
  :global(.am-button) {
    margin-top: 40px;
    display: block;
    height: 100%;
    line-height: 40px;
    background: #FF4F00 !important;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
  }
  .newAccount {
    color: #FF4F00;
    margin-top: 15px;
    text-align: right;
  }
}
.contentWrap {
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
  .select {
  position: relative;
  text-align: left;
  border-bottom: 1Px solid rgba(200,199,204,0.50);
  height: 60px;
  line-height: 78px;
  &-icon {
    color: #777777;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &-wraper {
    position: absolute;
    left: 0;
    top: 80px;
    border: 1Px solid #c8c7cc;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    &-sanjiao-wraper {
      position: absolute;
      right: 50px;
      top: -18px;
    }
    &-sanjiao {
      position: relative;
      height: 0px;
      width: 0px;
      border-right: 18px solid transparent;
      border-bottom: 18px solid #c8c7cc;
      border-left: 18px solid transparent;
    }
    &-sanjiao:after {
      content: '';
      position: absolute;
      top: 2px;
      left: -16px;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #FFFFFF;
      border-left: 16px solid transparent;
    }
    li {
      border-bottom: 1Px solid #c8c7cc;
      position: relative;
      height: 80px;
      line-height: 80px;
      padding: 0 10px;
    }
    li:last-child {
      border: none;
    }
  }
}
}


.hide {
  display: none;
  //animation: hideAnimation 2s;
}
@keyframes hideAnimation {
  from {opacity: 1;}
  to {
    opacity: 0;
    display: none;
  }
}
