.CompanyDetailWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .DetailWrap {
    height: 0;
    flex: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .DetailHead {
      width: 100%;
      height: auto;
      background-color: #fff;
      padding: 25px 20px;
      box-sizing: border-box;
      .Detaillayout {
        display: flex;
        // position: relative;
        flex-wrap: wrap;
      }
      .DetailNaLo {
        width: 80%;
        .company_name {
          width: 100%;
          font-family: PingFangSC-Medium;
          font-size: 20px;
          color: #333333;
          font-weight: normal;
          line-height: 1.4;
        }
        
        .scale {
          width: 100%;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #777777;
          line-height: 20px;
          margin-top: 4px;
          > span:last-child {
            padding: 0;
          }
          > span:last-child::after {
            display: none;
          }
          span {
            position: relative;
            padding-right: 10px;
          }
          span::after {
            content: '';
            width: 1px;
            height: 12px;
            background-color: #dfdfdf;
            position: absolute;
            top: 3px;
            right: 5px;
          }
        }
      }
      .DetailScAt {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 2px;
          border: 1px solid #f0f0f0;
        }
        .attention {
          margin-top: 8px;
          margin-right: 4px;
          width: 44px;
          height: 20px;
          line-height: 20px;
          border-radius: 10px;
          background-image: linear-gradient(-127deg, #ff7214 23%, #ff4f00 100%);
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
          text-align: center;
        }
      }
      .Detailweat {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
        .welfare {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          li {
            height: 24px;
            padding: 0 10px;
            box-sizing: border-box;
            border: 1px solid #e7e7e7;
            border-radius: 2px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #4a4a4a;
            text-align: center;
            line-height: 24px;
            border-radius: 2px;
            margin: 8px 10px 0 0;
            overflow: hidden;
          }
        }
      }
      
    }

    .connent {
      margin-top: 10px;
      width: 100%;
      background-color: #ffffff;
      padding: 30px 0px;
      box-sizing: border-box;
      :global {
        .am-tabs-default-bar-tab {
          font-family: PingFangSC-Regular;
          font-size: 16px;
          color: #9b9b9b;
          span {
            display: block;
            width: 100%;
            text-align: left;
          }
        }
        .am-tabs-default-bar-tab-active {
          font-family: PingFangSC-Medium;
          font-size: 16px;
          color: #333333 !important;
          text-align: left;
        }
        .am-tabs-tab-bar-wrap {
          width: 335px !important;
          margin: 0 auto;
          box-sizing: border-box;
          border-bottom: 1px solid rgba(200, 199, 204, 0.5) !important;

        }
        .am-tabs-default-bar {
          width: 188px !important;
          .am-tabs-default-bar-content {
            width: 188px !important;
          }
        }
        .am-tabs-default-bar-tab {
          width: 94px !important;
          justify-content: left;
        }
        .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
          display: none !important;
        }
        .am-tabs-default-bar-underline {
          width: 25px !important;
          margin-left: 18px;
        }
        .am-tabs-default-bar-underline {
          border: 1px solid #ff4f00;
        }
      }
      .Introduce {
        .companyFerral {
          padding: 0 20px;
          .companycent {
            width: 100%;
            padding-bottom: 18px;
            border-bottom: 1px solid rgba(200, 199, 204, 0.5);
            .title {
              margin-top: 20px;
              margin-bottom: 10px;
              font-family: PingFangSC-Regular;
              font-size: 15px;
              color: #4a4a4a;
            }
            .particulars {
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #4a4a4a;
              letter-spacing: 0.5px;
              line-height: 25px;
              max-height: 100px;
              overflow: hidden;
              position: relative;
            }
            .lookAll {
              i {
                color: #4a4a4a;
                font-style: normal;
              }
              height: 25px;
              line-height: 25px;
              color: #1989fb;
              position: absolute;
              bottom: 0;
              right: 0;
              padding: 0 4px;
              background-color: #fff;
              z-index: 1;
            }
            .unfold {
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #4a4a4a;
              letter-spacing: 0.5px;
              line-height: 25px;
              height: auto;
            }
          }
        }
        .contactInfo {
          padding: 0px 20px;
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #4a4a4a;
          .contactInfocent {
            border-bottom: 1px solid rgba(200, 199, 204, 0.5);
            padding: 18px 0;
            p {
              margin-bottom: 10px;
              font-size: 15px;
            }
            div {
              line-height: 25px;
              span {
                font-family: PingFangSC-Regular;
                color: #1989fb;
                letter-spacing: 0.5px;
              }
            }
          }
        }
      }
      .noMore {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 130px;
        img {
          display: block;
          margin: 54px 0 20px;
          width: 100px;
        }
        p {
          display: block;
          width: 100%;
          text-align: center;
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #aaaaaa;
        }
      }
    }
  }
}
.albumDetails {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 10;
  .carousel {
    width: 100%;
    height: ;
    display: flex;
    align-items: center;
  }
  .DetailsDots {
    width: 80px;
    color: #fff;
    background: #333333;
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  :global {
    .slider-frame {
      overflow: initial !important;
    }
    .slider-list {
      margin: 10px auto 0 !important;
      height: 600px !important;
    }
    .slider-slide {
      height: 100% !important;
      display: flex !important;
      overflow: hidden;
      a {
        max-height: 80%;
        display: flex;
        align-items: center;
      }
      img {
        display: block;
      }
    }
  }
}
.Album {
  width: 100%;
  padding-top: 18px;
  .photoAlbum {
    overflow: hidden;
    p {
      font-family: PingFangSC-Regular;
      font-size: 15px;
      color: #4a4a4a;
      margin-bottom: 15px;
      padding: 0 20px;
    }
    .photo {
      position: relative;
      height: 180px;
      :global {
        .slider-list {
          height: 180px !important;
        }
      }

      a {
        display: block;
        img {
          width: 100%;
          height: 180px;
          border-radius: 4px;
        }
      }

      .dots {
        width: 60px;
        position: absolute;
        right: 32px;
        top: 12px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 7.5px;
        color: #fff;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
