.LoginWrap{
  height: 100%;
  background-color: #fff;
}
.back{
  padding: 10px 20px;
  img{
    width: 15px;
    transform: rotate(180deg);
  }
}
.inputHei{
  padding: 0 !important;
  //height: 104px !important;
  font-size: 12px !important;
}
.inputHei::after{
  left: 0 !important;
  border-bottom: none !important;
}
.logon{
  text-align: center;
  margin: 40px auto 60px;
  width: 80px;
  height: 80px;
  img{
    width: 100%;
  }
}
.forms{
  padding: 0 30px;
  font-size: 15px;
  color: #333333;
  input{
    text-align: left !important;
  }
}

.userName{
  height: 52px;
  border-bottom: 1px solid rgba(200,199,204,0.30);
  display: flex;
  align-items: center;
  .title{
    width: 60px;
  }
  .name{
    flex: 1;
  }
}
.passwordBox{
  height: 52px;
  border-bottom: 1px solid rgba(200,199,204,0.30);
  display: flex;
  align-items: center;
  .title{
    width: 60px;
  }
  .name{
    flex: 1;
  }
}
.changeType{
  width: 25px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  margin-left: 7.5px;
  img{
    width: 22.5px;
  }
}
.forgetPassword{
  font-size: 13px;
  color: #FF4F00;
  text-align: right;
  margin: 10px 0;
}
.subBtn{
  height: 40px;
  a{
    display: block;
    height: 100%;
    line-height: 40px;
    background: #FF4F00;
    border-radius: 8px;
    font-size: 4px;
    color: #FFFFFF;
    text-align: center;
  }
}
.disabled{
  color: rgb(244,128,81) !important;
}
.otherLogin{
  margin: 7px 0;
  font-size: 13px;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a{
    color: #777777;
  }
  a:nth-child(2n){
    color: #FF4F00;
  }
}
.bottom{
  margin-top: 35px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #777777;
}
.activityRegister{
  visibility: hidden;
}
