.HomePageWrap{
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  :global{
    .am-whitespace.am-whitespace-sm {
      height: 10px;
      background-color: #f0f0f0;
    }
  }
  .homehead{
    height: 110px;
  }
  .homecentent {
    flex: 1;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

}
.height200x{
  // padding-top: 110px;
}
.postList{
  padding-bottom: 0.5rem;
  >div{
    >div:nth-child(1){
      border-top: 0;
    }
  }
}
.header{
  background-color: #fff;
  height: 100px;
  width: 100%;
}
.searchBar{
  width: 100%;
  z-index: 10;
}
.listView{
  >div{
    >div:nth-child(2){
      padding: 0;
    }
  }
}

.listitem:after{
  content: '';
  height: 10px;
  width: 100%;
  display: block;
  background-color: #f5f5f9;
}

.Company {
  width: 100%;
  height: 252px;
  background: #ff774e;
  padding: 17px 0 20px 0;
  box-sizing: border-box;
  
  .subtitle {
    font-family: PingFangSC-Semibold;
    width: 100%;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 0.8px;
    position: relative;
    padding-left: 34px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  .subtitle::before {
    content: '';
    display: block;
    width: 4px;
    height: 14px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 4px;
  }
  .CompanyBox {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .Boxscroll {
      width: 1356px;
      display: flex;
      padding-right: 20px;
      .CompanyCard {
        width: 200px;
        height: 178px;
        margin-left: 26px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        position: relative;
        .CompanyCent {
          width: 200px;
          height: 170px;
          background-color: #fff;
          position: absolute;
          top: 7px;
          left: -8px;
          z-index: 2;
          border-radius: 2px;
          .top {
            width: 100%;
            height: 80px;
            border-bottom: 1px solid #e3e3e5;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 55px;
              height: 55px;
              border-radius: 2px;
              border: 1Px solid #f0f0f0;
            }
          }
          .bot {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            padding: 0 10px;
            box-sizing: border-box;
            .Companyname {
              width: 94%;
              text-align: center;
              font-family: PingFangSC-Medium;
              font-size: 14px;
              color: #4a4a4a;
              font-weight: 400;
              margin-top: 8px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            span {
              margin-top: 5px;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #777777;
            }
            .welfare {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;
              span {
                line-height: 20px;
                border-radius: 2px;
                text-align: center;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #636363;
                border: 1Px solid #f0f0f0;
                padding: 0 10px;
                margin-right: 12px; 
              }
              span:last-child{
                margin-right: 0px !important; 
              }
            }
          }
        }
      }
    }
  }
}
.CompanyBox::-webkit-scrollbar {
  display: none;
}

.Hottrade {
  width: 100%;
  .tradeModule {
    background-color: #fff;
    width: 100%;
    height: 252px;
    overflow: hidden;
    .subtitle {
      font-family: PingFangSC-Semibold;
      width: 100%;
      line-height: 22px;
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      letter-spacing: 0.8px;
      position: relative;
      padding-left: 34px;
      box-sizing: border-box;
      margin-bottom: 22px;
      margin-top: 15px;
    }
    .subtitle::before {
      content: '';
      display: block;
      width: 4px;
      height: 14px;
      border-radius: 2px;
      background-color: #FF774E;
      position: absolute;
      left: 15px;
      top: 4px;
    }
    .tradeLogo {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      height: 72px;
      img{
        width: 100%;
        height: 72px;
        border: 1Px solid #c8c7cc;
        box-sizing: border-box;
        border-radius: 2px;
      }
    }
    .tradePost {
      width: 100%;
      padding: 2px 15px 15px 15px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap:wrap;
      a {
        display: block;
        width: 80px;
        height: 30px;
        border-radius: 2px;
        background-color: #f3f3f3;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #4A4A4A;
        letter-spacing: 1.5px;
        text-align: center;
        line-height: 30px;
        margin-top: 20px;
      }
      span:active {
        background: rgba(255,119,78,0.30);
        border: 1Px solid #FF7732;
        color: #FF774E;
        box-sizing: border-box;
      }
    }
    i{
      display: block;
      width: 100%;
      height: 5px;
      background-color: #f0f0f0;
    }
    
  }
  .hotjobs {
    width: 100%;
    height: 172px;
    i {
      display: block;
      width: 100%;
      height: 5px;
      background-color: #f0f0f0;
    }
    .jobList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 170px;
        height: 165px;
      }
      .jobs {
        width: 202px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: block;
          width: 100px;
          line-height: 40px;
          background: #ff774e;
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          margin: 1px 0;
        }
      }
    }
  }
}