.HomePageWrap {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  :global {
    .am-whitespace.am-whitespace-sm {
      height: 10px;
      background-color: #f0f0f0;
    }
  }
  .homehead {
    height: 110px;
    :global {
      .am-search-input .am-search-synthetic-ph-icon {
        display: none;
      }
    }
  }
  .homecentent {
    flex: 1;
    height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.postList {
  padding-bottom: 0.5rem;
  > div {
    > div:nth-child(1) {
      border-top: 0;
    }
  }
}
.header {
  background-color: #fff;
  height: 100px;
  width: 100%;
}
.searchBar {
  width: 100%;
  z-index: 10;
}
.listView {
  > div {
    > div:nth-child(2) {
      padding: 0;
    }
  }
}

.listitem:after {
  content: '';
  height: 10px;
  width: 100%;
  display: block;
  background-color: #f5f5f9;
}

.Company {
  width: 100%;
  height: 180px;
  background: #ffffff;
  padding-top: 20px;
  box-sizing: border-box;
  .subtitle {
    font-family: PingFangSC-Semibold;
    width: 100%;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    letter-spacing: 0.8px;
    position: relative;
    padding-left: 34px;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  .subtitle::before {
    content: '';
    display: block;
    width: 4px;
    height: 14px;
    border-radius: 2px;
    background-color: #ff774e;
    position: absolute;
    left: 15px;
    top: 4px;
  }
  .CompanyBox {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .Boxscroll {
      width: 1500px;
      display: flex;
      padding: 0 7px;
      height: 132px;
      align-items: center;
      .CompanyCent {
        width: 236px;
        height: 116px;
        background-color: #fff;
        box-shadow: 0 0 12px 0 rgba(178, 178, 178, 0.2);
        margin: 0 7px;
        padding: 16px;
        box-sizing: border-box;
        z-index: 2;
        border-radius: 2px;
        .top {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          .topLeft {
            flex: 1;
            .Companyname {
              width: 146px;
              font-family: PingFangSC-Medium;
              font-size: 15px;
              // line-height: 28px;
              color: #333333;
              font-weight: 200;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-bottom: 6px;
            }
            span {
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #777777;
            }
          }
          img {
            width: 44px;
            height: 44px;
            border-radius: 2px;
            border: 1px solid #f0f0f0;
          }
        }
        .welfare {
          width: 100%;
          display: flex;
          margin-top: 16px;
          span {
            width: 62px;
            line-height: 20px;
            border-radius: 2px;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #636363;
            border: 1px solid #f0f0f0;
            margin-right: 8px;
            overflow: hidden;
            padding: 0 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
          }
          span:last-child {
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
.CompanyBox::-webkit-scrollbar {
  display: none;
}

.Hottrade {
  width: 100%;
  .tradeModule {
    background-color: #fff;
    width: 100%;
    height: 230px;
    overflow: hidden;
    .subtitle {
      font-family: PingFangSC-Semibold;
      width: 100%;
      line-height: 22px;
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      letter-spacing: 0.8px;
      position: relative;
      padding-left: 34px;
      box-sizing: border-box;
      margin: 20px 0 16px;
      // font-weight: 700;
    }
    .subtitle::before {
      content: '';
      display: block;
      width: 4px;
      height: 14px;
      border-radius: 2px;
      background-color: #ff774e;
      position: absolute;
      left: 15px;
      top: 4px;
    }
    .tradeLogo {
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
      height: 72px;
      img {
        width: 100%;
        height: 72px;
        border: 1px solid #efeff1;
        box-sizing: border-box;
        border-radius: 2px;
      }
    }
    .tradePost {
      width: 100%;
      padding: 2px 12px 15px 12px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      a {
        display: block;
        width: 80px;
        height: 30px;
        border-radius: 2px;
        background-color: #f3f3f3;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #4a4a4a;
        letter-spacing: 1.5px;
        text-align: center;
        line-height: 30px;
        margin-top: 16px;
      }
      a:active {
        background: rgba(255, 119, 78, 0.3);
        border: 1px solid #ff7732;
        color: #ff774e;
        box-sizing: border-box;
      }
    }
  }
  .hotjobs {
    width: 100%;
    height: 166px;
    margin-top: 20px;
    .jobList {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 170px;
        height: 165px;
      }
      .jobs {
        width: 202px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
          display: block;
          width: 100px;
          line-height: 40px;
          background: #ff774e;
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #ffffff;
          text-align: center;
          margin: 1px 0;
        }
      }
    }
  }
}
